<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> Prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Name</h2>

  <div class="field">
    <strong>Last:</strong>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <strong>First:</strong>
    <%= form.text_field :first_name %>
  </div>

<h2>Address</h2>

  <div class="field">
    <strong>State:</strong>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <strong>City:</strong>
    <%= form.text_field :city %>
  </div>

  <div class="field" style="margin-bottom: 20px">
    <strong>Zip:</strong>
    <%= form.number_field :zip_code %>
  </div>

  <div class="field">
    <strong>Phone:</strong>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <strong>Email:</strong>
    <%= form.text_field :email %>
  </div>

  <div class="actions" style="margin-top: 20px">
    <%= form.submit %>
  </div>
<% end %>
