<p id="notice"><%= notice %></p>

<p>
  <strong>Last Name:     </strong>
  <%= @tbl_addr.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @tbl_addr.first_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @tbl_addr.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @tbl_addr.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @tbl_addr.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tbl_addr.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tbl_addr.email %>
</p>

<%= link_to 'Edit', edit_tbl_addr_path(@tbl_addr) %> |
<%= link_to 'Back', tbl_addrs_path %>
